@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

.description-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Show only 3 lines */
}

.title-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Ensure title takes up 2 lines */
  height: 2.8em; /* Adjust based on the font size */
  word-wrap: break-word;
}

.inline-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Ensure title takes up 2 lines */
  height: 1.5em; /* Adjust based on the font size */
  word-wrap: break-word;
}
